.AddressBox {
  height: 300px;
  width: 300px;
  border: solid 1px #e2e2e2;
  border-radius: 5px;
  margin: 35px;
  display: inline-block;
  font-size: 100px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.AddressBox:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.Box {
  width: auto;
  height: auto;
  border-radius: 5px;
  border: solid #afafaf;
  margin-bottom: 40px;
}

.BoxHeader {
  width: 100%;
  background-color: darkred;
  font-size: 30px;
  text-align: center;
  color: white;
}

.CreditCardBox {
  text-align: center;
  background-color: white;
  margin: 40px;
  width: 294px;
  height: 210px;
  border-radius: 14.5px;
  border: black solid 2px;
  display: inline-block;
}

.AddCreditCard {
  width: 290px;
  height: 210px;
  border-radius: 14.5px;
  font-size: 100px;
  margin: 35px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: black solid 2px;
}

.AddCreditCard:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.OrderProcessFirst {
  width: 200px;
  height: 20px;
  border: 1px solid #d33a09;
  border-radius: 50px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: white;
  float: left;
  margin-top: 8px;
  z-index: 10;
}
.OrderProcessFirstDone {
  width: 200px;
  height: 20px;
  border: 1px solid #d33a09;
  border-radius: 50px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #d33a09;
  margin-top: 8px;
  z-index: 10;
}
.OrderProcessSecond {
  width: 200px;
  height: 20px;
  border: 1px solid #d33a09;
  background-color: white;
  float: left;
  margin-top: 8px;
  margin-left: -14px;
  z-index: 10;
}
.OrderProcessSecondDone {
  width: 200px;
  height: 20px;
  border: 1px solid #d33a09;
  background-color: #d33a09;
  margin-top: 8px;
  margin-left: -14px;
  z-index: 10;
}
.OrderProcessThird {
  width: 210px;
  height: 20px;
  border: 1px solid #d33a09;
  background-color: white;
  border-radius: 50px;
  float: left;
  margin-top: 8px;
  margin-left: -14px;
  z-index: 10;
}
.OrderProcessThirdDone {
  width: 210px;
  height: 20px;
  border: 1px solid #d33a09;
  border-radius: 50px;
  background-color: #d33a09;
  margin-top: 8px;
  margin-left: -14px;
  z-index: 10;
}

.OrderStep {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #d33a09;
  border-radius: 50px;
  margin-bottom: -24px;
  margin-left: -10px;
  float: left;
  text-align: center;
  font-size: 20px;
  align-items: center;
  z-index: 20;
}
.OrderStepDone {
  width: 40px;
  height: 40px;
  background-color: #D54C1F;
  border: 1px solid white;
  border-radius: 50px;
  margin-bottom: -24px;
  margin-left: -10px;
  float: left;
  text-align: center;
  font-size: 20px;
  align-items: center;
  z-index: 20;
  color: white;
  font-weight: bold;
}
