.ForgotPassword {
    overflow: hidden;
    margin-top: -400px;
    display: block;
}

.Form {
    display: block;
}

.Input {
    width: 300px;
    height: 40px;
    color: black;
    border: #FF9100 2px solid;
    border-radius: 15px;
    background-color: #eeeeee;
    padding-left: 16px;
    outline-width: 0;
    font-size: 20px;
}