.PaymentInfoBox {
  margin: 40px;
  display: inline-block;
  font-size: medium;
}

.Delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 0);
  opacity: 0;
  z-index: 10;
  margin-top: -183px;
  width: 290px;
  height: 183px;
  border-radius: 14.5px;
  font-size: 50px;
  color: black;
}

.Card {
  z-index: 6;
}

.Delete:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}
