.MessageArea {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.MessageBox {
  width: 600px;
  min-height: 150px;
  background-color: white;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
}
