.ProductInSearch {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: medium;
    color: black;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 15px;
}

.ProductInSearch:hover {
    box-shadow: 0 2px 3px #ccc;
    border: 2px slategrey;
    border-radius: 5px;
}

.ProductInSearch:hover .Button {
    visibility: visible;
    transition: all 0.5s ease-out;
    opacity: 1;
}

.Image {
    width: 250px;
    height: 150px;
}

.ProductRowList {
    list-style-type: none;
    float: left;
    flex-direction: column;
}

.Price {
    font-size: x-large;
    color: #FF6D00;
}

.Button {
    background-color: #FF6D00;
    /*border: 2px black solid;*/
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    opacity: 0;
    margin-bottom: 10px;
}

/* .Button:hover {
    background-color: #D33A09;
    transition: all 0.3s ease-out;
} */