.Toolbar {
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border-bottom: black 2px solid;
}

.Logo {
  height: 80%;
}

.Not {
  background-color: goldenrod;
}

.Img {
  background-color: white;
  padding: 0px;
  height: 80%;
  box-sizing: border-box;
  cursor: pointer;
}

.Img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: 0.5s ease;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
}

.Filler {
  background-color: #fafafa;
  height: 150px;
  width: 100%;
}
