.ButtonPrimary {
  background-color: #ff6d00;
  /*border: 2px black solid;*/
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  width: 65px;
}

.ButtonPrimary:hover {
  background-color: #d33a09;
  transition: all 0.3s ease-out;
}
